body{
    padding: 0;
    margin: 0;
}

.container {
    background-color: grey;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    
}

li{
    list-style-type: none;
    padding-left: 20px;
    
}

.a1 {
    background-color: orange;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    border: 0px;
}
a{
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.container-for-text {
    background-color: orange;
    display: flex;
    justify-content: center;
}

.container-main{
    padding: 10px 200px;
}

p {
    font-size: 20px;
}

.contact{
    text-align: center;
}

footer{ 
    position:fixed;
    width: 99%;
    bottom:0;
    left:0;
    padding: 15px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    margin: 20px;
  }

